.env
.env_ldap
env_ldap
env_ldaps
env_ldap_starttls
.classpath
.project
.settings/
*.tmp
*.swp
*.swo            
*.bak
*.log
*.out
*.loadpath
*node_modules*
*package*.json
/target/
gwt.log
ldap_crypto.properties
smtp_crypto.properties
test.log
META-INF/
/.apt_generated/
/.apt_generated_tests/
/bin/
